<div class="ui red vertical demo sidebar menu">
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('home') %>
  Welcome
  <% end %>
  <%= link_to stores_path, class: 'item' do %>
  <%= semantic_icon('cart') %>
  Stores
  <% end %>
  <%= link_to stores_dining_path, class: 'item' do %>
  <%= semantic_icon('food') %>
  Dining
  <% end %>
  <%= link_to promotions_all_path, class: 'item' do %>
  <%= semantic_icon('star') %>
  Promos
  <% end %>
  <%= link_to whatsnew_path, class: 'item' do %>
  <%= semantic_icon('exclamation') %>
  <p class='two_words'>What's new</p>
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('map') %>
  Map
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('time') %>
  Hours
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('gift') %>
  Gift Card
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('facebook') %>
  Social
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('text file outline') %>
  <p class='two_words'>Employment</p>
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('photo') %>
  Movies
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('bolt') %>
  Notices
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('location') %>
  Directions
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('trophy') %>
  Contests
  <% end %>
  <%= link_to root_url, class: 'item' do %>
  <%= semantic_icon('setting') %>
  Settings
  <% end %>
</div>

<div class='ui button tiny' id="sidebar">
  <%= semantic_icon('indent left') %>
</div>

<script>
  $(document).ready(function(){
    $("#sidebar").on('click', function(){
      $('.demo.sidebar').sidebar('toggle');
    });
  });
</script>